body {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #D3D3D3;
}

a {
    color: #CBA135;
}

li {
    margin-bottom: 10px;
    list-style: none;
}

.banner {
    display: block;
    margin: auto;
}

h3, h4 {
    color: #E0E0E0;
}

.myText {
    color: #B0B0B0;
}